{% extends "morfee_frontier/base.html" %}
{% load static %}
{% block menu %}{% include 'morfee_frontier/menu_ase.html' %}{% endblock %}
{% block estilo %}
<script src="{% static 'divipola.js' %}"></script>
{% endblock %}

{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">MÓDULO DE ASEGURAMIENTO</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Morfee</a></li>
            <li><a href="{% url 'ase_contributivo' 'inicio' %}">Contributivo</a></li>
            <li class="active"><span>Inicio</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<div class="panel panel-default card-view border">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li><a href="{% url 'ase_subsidiado' 'inicio' %}">Dashboard</a></li>
            <li class="active"><a href="{% url 'ase_subsidiado' 'table' %}">Base de datos</a></li>
            <li><a href="{% url 'ase_subsidiado' 'import' %}">Importar</a></li>
        </ul>
        <hr class="light-grey-hr mb-1">
        <!-- <h6 class="panel-title fs-5">RÉGIMEN CONTRIBUTIVO</h6> -->
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <reader-data coleccion="{{ coleccion }}" only="ide,a1,a2,n1,n2,eps,dp,mc" exclude="td1,ide1,td2,ide2,x1,x2,x3,x4,x5,x8,x9,x10,x11,x12,x13"></reader-data>
        </div>
    </div>
</div>
{% endblock %}
