{% extends "morfee_frontier/base.html" %}
{% load static %}
{% block menu %}{% include 'morfee_frontier/menu_audit.html' %}{% endblock %}

{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">MÓDULO DE AUDITORÍAS</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Morfee</a></li>
            <li class="active"><span>Pooja</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<div class="panel panel-default card-view border">
    <div class="panel-heading">
        <h6 class="panel-title fs-5">PRUEBA POOJA</h6>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="d-flex">
                <button
                class="navbar-toggler px-2 py-0"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a href="#" class="ms-2">
                    <h3 class="fs-4">Django App</h3>
                </a>
            </div>
              <!-- Navbar -->
            <div class="formulario mt-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label class="form-label" for="file">Default file input example</label>
                        <input type="file" class="form-control" id ='file' name="file" value="Upload File" required />
                    </div>
                    <div class="form-group mb-4">
                        <label for="delimeter" class="form-label">Delimeter</label>
                        <select name="delimeter" id="delimeter" class="form-control" required>
                            <option value="">Choose Delimeter</option>
                            <option value="Default">Default</option>
                            <option value="\t">TAB</option>
                            <option value=",">COMMA</option>
                            <option value=";">SEMI COLON</option>
                            <option value="|">PIPELINE</option>
                            <option value=":">COLON</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label for="period" class="form-label">Period</label>
                        <input type="text" id="period" name="period" class="form-control" placeholder="Period" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Import</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
