{% extends "morfee_frontier/base.html" %}
{% load static %}
{% block menu %}{% include 'morfee_frontier/menu_ase.html' %}{% endblock %}

{% block estilo %}
<style>
    .panel-hover:hover {border:1px solid #2ECD99}
    .panel-hover:hover .icon > i {color:#2ECD99 !important}
    .panel-hover:hover .file-name {background:#2ECD99; color:#FFF}
</style>
{% endblock %}
{% block contenido %}
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">MÓDULO DE ASEGURAMIENTO</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'inicio' %}">Morfee</a></li>
            <li class="active"><span>Aseguramiento</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<div class="panel panel-default card-view border">
    <div class="panel-heading">
        <h6 class="panel-title">CONSULTA</h6>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita magni recusandae facilis! Ipsa velit ipsum hic necessitatibus consectetur alias iste provident? Ratione provident vel veritatis laborum quae quam eligendi.
            Quasi sapiente consectetur minus reprehenderit ipsa! Omnis explicabo blanditiis exercitationem? Maxime, saepe at quia nemo nostrum libero aut amet? Necessitatibus incidunt saepe accusantium laboriosam expedita eaque cumque earum vero consectetur!
        </div>
    </div>
</div>
{% endblock %}
