<ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
        <span>Servicios</span> 
        <i class="zmdi zmdi-more"></i>
    </li>
    <li>
        <!-- animated wobble -->
        <a href="{% url 'inicio' %}">
            <div class="pull-left"><i class="zmdi zmdi-home me-3"></i><span class="right-nav-text">Inicio</span></div><div class="clearfix"></div>
        </a>
        <a href="{% url 'serv_hc_show' %}" class="{% if request.resolver_match.url_name == 'serv_hc_show' %}active{% endif %}">
            <div class="pull-left"><i class="zmdi zmdi-memory me-3"></i><span class="right-nav-text">Historia clínica</span></div><div class="clearfix"></div>
        </a>
        <a href="{% url 'serv_hc_add' %}" class="{% if request.resolver_match.url_name == 'serv_hc_add' %}active{% endif %}">
            <div class="pull-left"><i class="zmdi zmdi-folder-person me-3"></i><span class="right-nav-text">Registrar</span></div><div class="clearfix"></div>
        </a>
    </li>
</ul>
